# Data Science Internship at Widhya

## Mission: Instagram Post Reach Predicition

#### Importing required liberaries

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error 
from sklearn.preprocessing import StandardScaler

#### Reading and Previewing dataset

In [2]:
df=pd.read_excel('insta.xlsx')
df.head()

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

#### Removing unwanted features

In [3]:
df = df.drop(['S.No','USERNAME','Caption','Hashtags'],axis=1)
df

    Followers Time since posted  Likes
0        1600          11 hours    139
1         880           2 hours     23
2         255           2 hours     25
3         340           3 hours     49
4         304           3 hours     30
..        ...               ...    ...
95        614           3 hours     31
96        450           3 hours     42
97        182           3 hours     10
98       2039           3 hours    222
99        741           3 hours    109

[100 rows x 3 columns]

#### Data preprocessing

In [4]:
df['Time']=df['Time since posted'].str.split(" ",n=1,expand=True)[0].astype(int)
df.head()

   Followers Time since posted  Likes  Time
0       1600          11 hours    139    11
1        880           2 hours     23     2
2        255           2 hours     25     2
3        340           3 hours     49     3
4        304           3 hours     30     3

In [5]:
df.drop(['Time since posted'],axis=1)

    Followers  Likes  Time
0        1600    139    11
1         880     23     2
2         255     25     2
3         340     49     3
4         304     30     3
..        ...    ...   ...
95        614     31     3
96        450     42     3
97        182     10     3
98       2039    222     3
99        741    109     3

[100 rows x 3 columns]

In [6]:
df = df[['Followers','Time','Likes']]
df.head()

   Followers  Time  Likes
0       1600    11    139
1        880     2     23
2        255     2     25
3        340     3     49
4        304     3     30

#### Dividing and Spliting data into traing and testing set

In [7]:
df1 = df.values
X, y = df1[:,:-1], df1[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

#### Feature scaling

In [8]:
scaled_features = StandardScaler().fit_transform(X_train, X_test)

#### Model Building

In [9]:
l_reg=LinearRegression()
l_reg.fit(X_train,y_train)
print("Training completed")

Training completed

#### Training and Testing Score achived by model

In [10]:
print('Training Score: ', round(l_reg.score(X_train,y_train)*100,2),'%')
print('Testing Score: ', round(l_reg.score(X_test,y_test)*100,2))

Training Score:  35.83 %
Testing Score:  61.84

#### Prediction on test set

In [11]:
y_predict=l_reg.predict(X_test)

#### Accuracy acchieved by Model

In [12]:
from sklearn import metrics
acc=metrics.r2_score(y_test,y_predict)
print("Accuracy Score of Model: ",round(acc*100,2),'%')

Accuracy Score of Model:  61.84 %

#### Model Evaluation

In [13]:
from sklearn import metrics
print('Mean Absolute Error:',round(metrics.mean_absolute_error(y_test,y_predict),2))
print('Mean Squared Error:',round(metrics.mean_squared_error(y_test,y_predict),2))
print('Root Mean Squared Error:',round(np.sqrt(metrics.mean_squared_error(y_test,y_predict)),2))
print('Explained Variance Score:',round(metrics.explained_variance_score(y_test,y_predict),2))

Mean Absolute Error: 18.5
Mean Squared Error: 541.01
Root Mean Squared Error: 23.26
Explained Variance Score: 0.68

#### Sample Predicition

>Prediction for the post's reach for someone who has 300 followers and after 10 hours

In [14]:
print(l_reg.predict([[300,10]]))

[108.75693473]

>Prediction for the post's reach for someone who has 400 followers and after 5 hours

In [15]:
print(l_reg.predict([[400,5]]))

[60.2841626]

### Thank you :)